<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhitou.job">

    <!--支付相关的权限-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 请求访问使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="448bb9d5522ed2ccfea6a329ae791a6e" />

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="25071172" />
        <meta-data
            android:name="com.alibaba.app.pid"
            android:value="xxxx" />
        <meta-data
            android:name="com.alibaba.app.applink.backurl"
            android:value="http://mjcos.com/Images/logo.png" />

        <!-- 聊天相关界面 -->

        <activity
            android:name=".chat.ui.SplashActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".chat.ui.HomeActivity" />
        <activity
            android:name=".chat.ui.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".chat.ui.SearchFriendActivity" />
        <activity android:name=".chat.ui.AddFriendActivity" />
        <activity
            android:name=".chat.ui.ProfileActivity"
            android:launchMode="singleTask" />
        <activity android:name=".chat.ui.ManageFriendGroupActivity" />
        <activity
            android:name=".chat.ui.VideoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".chat.ui.CreateGroupActivity" />
        <activity
            android:name=".chat.ui.TCVideoRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.ui.TCVideoPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.ui.GroupProfileActivity"
            android:launchMode="singleTask" />

        <!-- 消息收发service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="false"
            android:process=":QALSERVICE" />
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE" />
        <!-- 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <!-- 系统消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter"
            android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tencent.qalsdk.service.TASK_REMOVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".chat.ui.ImageViewActivity" />
        <activity android:name=".chat.ui.EditActivity" />
        <activity android:name=".chat.ui.SearchGroupActivity" />
        <activity android:name=".chat.ui.ApplyGroupActivity" />
        <activity android:name=".chat.ui.GroupManageMessageActivity" />
        <activity android:name=".chat.ui.FriendshipManageMessageActivity" />
        <activity android:name=".chat.ui.GroupListActivity" />
        <activity android:name=".chat.ui.ChooseFriendActivity" />
        <activity android:name=".chat.ui.GroupMemberActivity" />
        <activity
            android:name=".chat.ui.customview.DialogActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".chat.ui.GroupMemberProfileActivity" />
        <activity android:name=".chat.ui.FriendshipHandleActivity" />
        <activity android:name=".chat.ui.AboutActivity" />
        <activity android:name=".chat.ui.BlackListActivity" />
        <activity android:name=".chat.ui.ImagePreviewActivity" />
        <activity android:name=".chat.ui.MessageNotifySettingActivity" />

        <activity android:name=".parttimejob.activity.MainActivity" />
        <activity android:name=".parttimejob.activity.ShopMainActivity" />
        <activity android:name=".parttimejob.activity.GuideActivity" />
        <activity android:name=".parttimejob.activity.LoginActivity" />
        <activity android:name=".parttimejob.activity.RegisterActivity" />
        <activity
            android:name=".parttimejob.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".parttimejob.activity.IDTextActivity" />
        <activity android:name=".parttimejob.activity.IDImageActivity" />
        <activity android:name=".parttimejob.activity.ApplyActivity" />
        <activity android:name=".parttimejob.activity.MyShopActivity" />
        <activity android:name=".parttimejob.activity.PushShopInfoActivity" />
        <activity android:name=".parttimejob.activity.PushProductInfoActivity" />
        <!-- <activity android:name=".activity.SelectSubActivity"></activity> -->
        <!-- <activity android:name=".activity.ProductDetailTextActivity"></activity> -->
        <activity android:name=".parttimejob.activity.SelectSubActivity" />
        <activity android:name=".parttimejob.activity.ProductDetailTextActivity" />
        <activity android:name=".parttimejob.activity.ProductManageActivity" />
        <activity android:name=".main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.activity.PushTwoHandActivity" />
        <activity android:name=".main.activity.ProductDetailActivity" />
        <activity android:name=".main.activity.WatchImageActivity" />
        <activity android:name=".main.activity.TwoHandDetailActivity" />
        <activity android:name=".main.activity.AffirmOrderActivity" />
        <activity android:name=".main.activity.AddAddressSHActivity"></activity>
    </application>

</manifest>